body {
  text-align: center;
  background: #ebf0f5;
}

h1 {
  color: #dd1b1b;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 10px;
}

.card-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #c8d0d8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 400px;
}

.checkmark {
  border-radius: 200px;
    height: 90px;
    width: 90px;
    color: #dd1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
}

